body {
    background-color: #e8f4b4;
    font-family: Verdana, Helvetica, Arial, sans-serif;
  }
  
.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

