body {
  background-color: #94c17a;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
  
h1{
  color:#800000;
  text-align:center;
}

form{
  color:#28313F;
  text-align:center;
  margin-left: 445px;
  margin-right: 426px;
}

#info{
  color:#28313F;
  text-align:center;
  margin-left: 400px;
  margin-right: 400px;
}

#result{
  color:#28313F;
  text-align:center;
}

