* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


body {
  font-family:  Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #6e3b27;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #fffaf0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 350px;

}

.results {
  text-align: center;
  background-color: #fff5e0;
  margin-left: 20px;
  margin-right: 40px;
  padding-top: 30px;
  padding-bottom: 65px;
}


.header {
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #275c26;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #cfb80c;
  color: black;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #fff5e0;
  padding: 20px;
}

.results a:link{
  color: green;
}

.results a:visited{
  color: green;
}

.results a:hover{
  color: blue;
}

.results a:active{
  color: green;
}

a:link { 
  text-decoration: none;
  color: white;
} 

a:visited { 
  text-decoration: none; 
  color: white;
} 
a:hover { 
  text-decoration: none;
  color: white;
} 
a:active { 
  text-decoration: none;
  color: white;
}

.footer {
  text-align: center;
}



